#HQ_page *::selection {
    background-color: #000000;
    color: #FFF;
}
@font-face {
    font-family: 'dmSerifDisplay';
    src: url(https://2021.igem.org/wiki/images/3/31/T--KCIS_NewTaipei--dmSerifDisplayItalic.ttf) format('truetype');
}
@font-face {
    font-family: 'playfairDisplay';
    src: url(https://2021.igem.org/wiki/images/4/4f/T--KCIS_NewTaipei--playfairDisplayMedium.ttf) format('truetype');
}
@font-face {
    font-family: 'averiaSerifLibre';
    src: url(https://2021.igem.org/wiki/images/0/0f/T--KCIS_NewTaipei--averiaSerifLibreItalic.ttf) format('truetype');
}
@font-face {
    font-family: 'newYork';
    src: url(https://2021.igem.org/wiki/images/f/fb/T--KCIS_NewTaipei--newYorkRegular.ttf) format('truetype');
}
@font-face {
    font-family: 'raleway';
    src: url(https://2021.igem.org/wiki/images/2/22/T--KCIS_NewTaipei--ralrway.ttf) format('truetype');
}
@font-face {
    font-family: 'sfCompactText';
    src: url(https://2021.igem.org/wiki/images/3/32/T--KCIS_NewTaipei--sfCompactTextMedium.otf) format('opentype');
}
@font-face {
    font-family: 'poetSenOne';
    src: url(https://2021.igem.org/wiki/images/c/c5/T--KCIS_NewTaipei--poetSenOne.ttf) format('truetype');
}