body {
    margin: 0;
    padding: 0;
    background-color: rgba(255, 239, 160, .8);
}

* {
    line-height: normal;
}

#imgContainer {
    width: 100%;
    position: relative;
}

#headingFont3 {
    color: #000;
    background-color: none;
    font-size: 44.5pt;
    font-family: 'dmSerifDisplay';
    font-style: normal;
    text-align: center;
    margin: 30;
}

#dataTitleFont {
    color: #000;
    background-color: none;
    font-size: 60pt;
    font-family: 'playfairDisplay';
    font-style: normal;
    text-align: center;
    margin: 20;
}

.firstSection {
    width: 55vw;
    height: 245px;
    top: 900px;
    right: 10vw;
    position: absolute;
    background-color: rgba(251, 209, 146, 0.3);
    font-size: 20pt;
    font-style: normal;
    text-align: center;
    display: block;
}

.pic1 {
    position: inherit;
    left: 2vw;
    display: block;
}

.secondSection {
    width: 40vw;
    height: 450px;
    top: 1600px;
    left: 10vw;
    position: absolute;
    background-color: rgba(251, 209, 146, 0.3);
    font-style: normal;
    text-align: center;
    display: block;
}

.pic2 {
    position: absolute;
    top: 1400px;
    right: 100px;
    display: block;
}

.thirdSection {
    width: 50vw;
    height: 530px;
    top: 2200px;
    right: 105px;
    position: absolute;
    background-color: rgba(251, 209, 146, 0.3);
    font-size: 20pt;
    font-style: normal;
    text-align: center;
    display: block;
}

.pic3 {
    top: 2100px;
    left: 0;
    position: absolute;
}

.pic4 {
    top: 2450px;
    left: 180px;
    position: absolute;
    display: block;
}

.data1 {
    width: 20vw;
    height: 320px;
    top: 3650px;
    left: 400px;
    position: absolute;
    font-size: 32pt;
    font-style: normal;
    text-align: center;
}

.data2 {
    width: 20vw;
    height: 320px;
    top: 3650px;
    right: 400px;
    position: absolute;
    font-size: 32pt;
    font-style: normal;
    text-align: center;
}