* {
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 239, 160, .8);
}

::-webkit-scrollbar {
    width: 0;
}

#scrollPath {
    position: fixed;
    top: 25vh;
    left: 2vw;
    width: 10px;
    height: 100%;
    background-color: rgba(255, 255, 255, .0005);
    z-index: 10;
}

#progressBar {
    position: fixed;
    top: 25vh;
    left: 2vw;
    width: 10px;
    border-radius: 2vw;
    background: linear-gradient(to top, #DBFF00, #FF0000);
    z-index: 10;
}

#progressBar:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #DBFF00, #FF0000);
    z-index: 10;
    filter: blur(10px);
}

#progressBar:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #DBFF00, #FF0000);
    z-index: 10;
    filter: blur(30px);
}

.returnButton {
    position: fixed;
    top: 40vh;
    right: 2.2vw;
    z-index: 10;
    width: 2vw;
    height: 12vh;
    cursor: pointer;
    display: none;
}

.RB1, .RB2 {
    position: absolute;
    right: 1vw;
    width: 2px;
    height: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #000;
    cursor: pointer;
}

.RB1 {
    transform: translate(-5px) rotate(30deg);
}

.RB2 {
    transform: translate(5px) rotate(-30deg);
}

.RB3 {
    position: absolute;
    right: 1vw;
    width: 2px;
    height: 80px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #000;
    transform: translateY(4px);
    cursor: pointer;
}

#imgContainer {
    width: 100%;
    position: relative;
}

.quote {
    top: 82.5vh;
    left: 21.533vw;
    position: absolute;
    font-size: 4.16vw;
}

.mainContainer {
    width: 71.40625vw;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
}

.mainContainer .flex-container1 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.mainContainer .firstSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    height: 18vw;
    margin: 0;
    background-color: rgba(251, 209, 146, 0.3);
}

.mainContainer .firstSection .sectionTopTape {
    width: 10.625vw;
    height: 4vw;
    position: absolute;
    top: 0;
    right: 22%;
    background-color: rgba(254, 153, 110);
    display: block;
}


.imgFlex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2.5vw 0;
}

.mainContainer .firstSection .sectionText {
    color: #000;
    font-size: 1.5vw;
    font-family: 'playfairDisplay', 'sans-serif';
    text-align: center;
    padding: 6vw 2vw 2vh 2vw;
    line-height: 2vw;
}

.mainContainer .pic1 {
    top: 4.5vw;
    left: 4.5vw;
    display: block;
}

.mainContainer .flex-container2 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 12vw;
}

.mainContainer .secondSection {
    width: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    margin: 0;
    background-color: rgba(251, 209, 146, 0.3);
    display: block;
}

.mainContainer .secondSection .sectionTopTape {
    width: 10.416vw;
    height: 3vw;
    top: -1.5vw;
    left: 35%;
    position: relative;
    background-color: rgba(254, 153, 110);
    display: block;
}

.mainContainer .secondSection .sectionText {
    color: #000;
    font-size: 1.458vw;
    font-family: 'playfairDisplay';
    font-style: normal;
    text-align: center;
    padding: 2vw;
    line-height: 2vw;
}

.sectionTitle {
    color: #000;
    background-color: none;
    font-size: 3.125vw;
    font-family: 'dmSerifDisplay';
    font-style: normal;
    text-align: center;
    padding: 0 2vw 2vw 2vw;
}

.mainContainer .manInDarkWrapper {
    width: 30%;
    height: 30%;
    background-color: rgba(255, 255, 0, .1);
}

.mainContainer .pic2 {
    top: 85vh;
    right: 3vw;
    width: 100%;
    height: 100%;
    display: block;
}

.mainContainer .pic3 {
    display: block;
}

.mainContainer .pic4 {
    display: block;
}

.mainContainer .thirdSection {
    width: fit-content;
    height: fit-content;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    background-color: rgba(251, 209, 146, 0.3);
    text-align: center;
    margin: 10vw 0vw;
    display: block;
}

.mainContainer .thirdSection .sectionTopTape {
    width: 10.3645vw;
    height: 3vw;
    top: -1.5vw;
    left: 13vw;
    position: relative;
    background-color: rgba(254, 153, 110);
    display: block;
}

.mainContainer .thirdSection .sectionText {
    color: #000;
    font-size: 1.4583vw;
    font-family: 'playfairDisplay';
    line-height: 2vw;
    padding: 1.25vh 2vw 2vh 2vw;
}

.mainContainer .flex-container3 {
    display: flex;
    position: relative;
    align-items: center;
    height: fit-content;
    flex-direction: row;
    justify-content: space-between;
    margin: 10vw 0;
}

.mainContainer .data1, .mainContainer .data2 {
    display: flex;
    flex-direction: column;
}

.data1 .dataTitle, .data2 .dataTitle {
    color: #000;
    position: absolute;
    font-size: 5.125vw;
    font-family: 'poetSenOne';
    font-style: normal;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -60%);
    white-space: nowrap;
}

.data1 .dataText, .data2 .dataText {
    width: 30vw;
    height: 15vh;
    position: absolute;
    font-size: 2.15vw;
    font-family: 'playfairDisplay';
    font-style: normal;
    text-align: center;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -30%);
    line-height: 2.5vw;
}

.dataWrapper {
    width: 30vw;
    height: 30vw;
    position: relative;
}

.dataPic {
    width: 100%;
    height: 100%;
}