body,
html {
    margin: 0;
    padding: 0;
    
}
.black {
    color: #000;
}
.white {
    color: #FFF;
}
.lightYellow {
    color: #FFEFA0;
}
.orangishYellow {
    color: #FFD57E;
}
.orange {
    color: #FCA652;
}
.tan {
    color: #AC4B1C;
}
#mainPage #h1  {
    font-size: 2.8125em;
    font-family: 'dmSerifDisplayItalic', sans-serif;
    text-align: left;
    margin: 0;
}