html {
    width: 100%;
}

#globalWrapper {
    padding: 0px;
}

.logo {
    width: 86px;
    height: 95px;
    padding: 10px;
    z-index: 1;
    position: fixed;
}

.menuBarContainer {
    display: block;
    cursor: pointer;
    top: 20px;
    right: 20px;
    padding: 10px 4px;
    background-color: #EAAC7F;
    border-radius: 100%;
    z-index: 1;
    position: fixed;
    margin: 2vh 0.4vw;
}

.menuBarIcon1, .menuBarIcon2, .menuBarIcon3 {
    width: 35px;
    height: 3px;
    background-color: #000;
    margin: 6px;
    border-radius: 25px;
    transition: 0.4s;
}

.menuBarIcon2 {
    width: 30px;
}

.transit .menuBarIcon1 {
    transform: translate(0px, 9px) rotate(45deg);
}

.transit .menuBarIcon2 {
    opacity: 0;
    transition: opacity 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.transit .menuBarIcon3 {
    transform: translate(0px, -9px) rotate(-45deg);
}

nav {
    display: flex;
    z-index: 1000;
}

ol {
    width: 0px;
    height: 100vh;
    background-color: #EAAC7F;
    position: absolute;
    right: 0;
    transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ol li {
    margin-right: -5vw;
    padding: 1vw;
    width: 12vw;
    font-size: 2.5vw;
    display: none;
    height: 10vh;
}

a {
    font-size: 2.5vw;
    color: #000;
    text-decoration: none;
}

.menuBar.dropDown ol {
    width: 25vw;
    opacity: 1;
    transform: translateX(0);
    position: fixed;
    z-index: 1;
}

.menuBar.dropDown ol li {
    display: list-item;
}

ul {
    list-style: none;
    position: relative;
    width: 12vw;
    background-color: #EAAC7F;
    bottom: 60%;
    right: 170%;
    display: none;
}

ul li {
    padding: 2vw;
}

.team:hover ul {
    display: block;
}