#globalWrapper {
    padding: 0px;
}

* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.logoImgWrapper {
    width: 4vw;
    height: 4.6vw;
    padding: 1vw;
    position: fixed;
    z-index: 1;
}

.logo {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.menuBarContainer {
    display: block;
    cursor: pointer;
    top: 20px;
    right: 20px;
    z-index: 1;
    position: fixed;
    margin: 1vh 0vw;
}

.menuBarIcon1, .menuBarIcon2, .menuBarIcon3 {
    width: 35px;
    height: 3px;
    background-color: #000;
    margin: 6px;
    border-radius: 25px;
    transition: 0.4s;
}

.menuBarIcon2 {
    width: 30px;
}

.transit .menuBarIcon1 {
    -webkit-transform: translate(0px, 9px) rotate(45deg);
    -moz-transform: translate(0px, 9px) rotate(45deg);
    -o-transform: translate(0px, 9px) rotate(45deg);
    transform: translate(0px, 9px) rotate(45deg);
}

.transit .menuBarIcon2 {
    opacity: 0;
    -webkit-transition: opacity .4s cubic-bezier(0.25, 0.1, 0.25, 1);
    -moz-transition: opacity .4s cubic-bezier(0.25, 0.1, 0.25, 1);
    -o-transition: opacity .4s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: opacity .4s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.transit .menuBarIcon3 {
    -webkit-transform: translate(0px, -9px) rotate(-45deg);
    -moz-transform: translate(0px, -9px) rotate(-45deg);
    -o-transform: translate(0px, -9px) rotate(-45deg);
    transform: translate(0px, -9px) rotate(-45deg);
}

nav {
    display: flex;
    z-index: 1000;
}

.menuBar {
    width: 6vw;
    height: 100%;
    background-color: #EAAC7F;
    top: 0;
    right: 0;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    -webkit-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -moz-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -o-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    z-index: 1000;
}

.menuBar.dropDown {
    width: 16vw;
    -webkit-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -moz-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -o-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.navList {
    font-family: 'dmSerifDisplay', 'sans-serif';
    font-size: 2.5vw;
    margin-right: -7vw !important;
    list-style: none;
    -webkit-transition: margin-right .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -moz-transition: margin-right .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -o-transition: margin-right .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: margin-right .5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.menuBar.dropDown .navList {
    margin-right: 2vw !important;
    -webkit-transition: margin-right .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -moz-transition: margin-right .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -o-transition: margin-right .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: margin-right .5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.navList li {
    position: static;
    width: 100%;
    height: 1vw;
    margin: 4vw 0;
    line-height: 1vw;
    white-space: nowrap;
}

.navList li a {
    color: #000;
    text-decoration: none !important;
    font-family: 'dmSerifDisplay', 'sans-serif';
    font-size: 1.4vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: initial;
    padding-left: 1.5vw;
}

.navIMGWrapper {
    width: 4vw;
    height: 4vw;
    margin-right: 1vw;
}

.navProjectLogo {
    width: 100%;
    height: 100%;
}

#linkHover {
    position: relative;
}

.navProject .navProjectUl {
    width: 0;
    height: fit-content;
    position: absolute;
    background-color: #EAAC7F;
    top: 0;
    right: 14vw;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    justify-content: center;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    -webkit-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -moz-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -o-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.navProject .navProjectUl li {
    list-style: none;
    width: fit-content;
    height: fit-content;
    margin: 1vw;
    line-height: 1vw;
}

.menuBar.dropDown .navProject:hover .navProjectUl {
    border-right: solid 2px #000;
    width: 12vw;
    -webkit-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -moz-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -o-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.navProject .navProjectUl li a {
    color: #000;
    text-decoration: none;
    font-family: 'dmSerifDisplay', 'sans-serif';
    font-size: 1.2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
}

.navWetLab .navWetLabUl {
    width: 0;
    height: fit-content;
    position: absolute;
    background-color: #EAAC7F;
    top: 0;
    right: 14vw;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    -webkit-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -moz-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -o-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.navWetLab .navWetLabUl li {
    list-style: none;
    width: fit-content;
    height: fit-content;
    line-height: 1vw;
    margin: 1vw;
}

.menuBar.dropDown .navWetLab:hover .navWetLabUl {
    border-right: solid 2px #000;
    width: 14vw;
    -webkit-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -moz-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -o-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.navWetLabLogo {
    width: 100%;
    height: 100%;
}

.navWetLab .navWetLabUl li a {
    color: #000;
    text-decoration: none;
    font-family: 'dmSerifDisplay', 'sans-serif';
    font-size: 1.2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
}

.navDryLab .navDryLabUl {
    width: 0;
    height: fit-content;
    position: absolute;
    background-color: #EAAC7F;
    right: 14vw;
    bottom: -8vw;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    -webkit-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -moz-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -o-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.navDryLab .navDryLabUl li {
    list-style: none;
    width: fit-content;
    height: fit-content;
    line-height: 1vw;
    margin: 1vw;
}

.menuBar.dropDown .navDryLab:hover .navDryLabUl {
    border-right: solid 2px #000;
    width: 12vw;
    -webkit-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -moz-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -o-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.navDryLabLogo {
    width: 95%;
    height: 70%;
    margin-top: 1.4vh;
}

.navDryLab .navDryLabUl li a {
    color: #000;
    text-decoration: none;
    font-family: 'dmSerifDisplay', 'sans-serif';
    font-size: 1.2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
}

.navHP .navHPUl {
    width: 0;
    height: fit-content;
    position: absolute;
    right: 14vw;
    bottom: -3vw;
    background-color: #EAAC7F;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    -webkit-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -moz-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -o-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    overflow-x: hidden;
}

.navHP .navHPUl li {
    list-style: none;
    width: fit-content;
    height: fit-content;
    line-height: 1vw;
    margin: 1vw;
}

.menuBar.dropDown .navHP:hover .navHPUl {
    border-right: solid 2px #000;
    width: 14vw;
    -webkit-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -moz-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -o-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.navHPLogo {
    width: 100%;
    height: 100%;
}

.navHP .navHPUl li a {
    color: #000;
    text-decoration: none;
    font-family: 'dmSerifDisplay', 'sans-serif';
    font-size: 1.2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
}

.navTeam .navTeamUl {
    width: 0;
    height: fit-content;
    position: absolute;
    right: 14vw;
    bottom: -3vw;
    background-color: #EAAC7F;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    -webkit-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -moz-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -o-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    overflow-x: hidden;
}

.navTeam .navTeamUl li {
    list-style: none;
    width: fit-content;
    height: fit-content;
    line-height: 1vw;
    margin: 1vw;
}

.menuBar.dropDown .navTeam:hover .navTeamUl {
    border-right: solid 2px #000;
    width: 10vw;
    -webkit-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -moz-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -o-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.navTeamLogo {
    width: 100%;
    height: 100%;
}

.navTeam .navTeamUl li a {
    color: #000;
    text-decoration: none;
    font-family: 'dmSerifDisplay', 'sans-serif';
    font-size: 1.2vw;
    padding: 0;
}