#globalWrapper {
    padding: 0px;
}

* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.logoImgWrapper {
    width: 4vw;
    height: 4.6vw;
    padding: 1vw;
    position: fixed;
    z-index: 1;
}

.logo {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.menuBarContainer {
    display: block;
    cursor: pointer;
    top: 20px;
    right: 20px;
    padding: 10px 4px;
    background-color: #EAAC7F;
    border-radius: 100%;
    z-index: 1;
    position: fixed;
    margin: 2vh 0.4vw;
}

.menuBarIcon1, .menuBarIcon2, .menuBarIcon3 {
    width: 35px;
    height: 3px;
    background-color: #000;
    margin: 6px;
    border-radius: 25px;
    transition: 0.4s;
}

.menuBarIcon2 {
    width: 30px;
}

.transit .menuBarIcon1 {
    -webkit-transform: translate(0px, 9px) rotate(45deg);
    -moz-transform: translate(0px, 9px) rotate(45deg);
    -o-transform: translate(0px, 9px) rotate(45deg);
    transform: translate(0px, 9px) rotate(45deg);
}

.transit .menuBarIcon2 {
    opacity: 0;
    -webkit-transition: opacity .4s cubic-bezier(0.25, 0.1, 0.25, 1);
    -moz-transition: opacity .4s cubic-bezier(0.25, 0.1, 0.25, 1);
    -o-transition: opacity .4s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: opacity .4s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.transit .menuBarIcon3 {
    -webkit-transform: translate(0px, -9px) rotate(-45deg);
    -moz-transform: translate(0px, -9px) rotate(-45deg);
    -o-transform: translate(0px, -9px) rotate(-45deg);
    transform: translate(0px, -9px) rotate(-45deg);
}

nav {
    display: flex;
    z-index: 1000;
}

.menuBar {
    width: 0vw;
    height: 100%;
    background-color: #EAAC7F;
    top: 0;
    right: 0;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    -webkit-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -moz-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -o-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    overflow-x: hidden;
    z-index: 1000;
}

.menuBar.dropDown {
    width: 14vw;
    -webkit-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -moz-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -o-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.navOrderedList {
    font-family: 'dmSerifDisplay', 'sans-serif';
    font-size: 2.5vw;
    margin-top: 3vw !important;
    margin-right: 3vw !important;
    list-style: none;
}

.navOrderedList li {
    position: static;
    width: 100%;
    height: 2.5vw;
    margin: 2vw 0;
    line-height: 1vw;
    white-space: nowrap;
}

.navOrderedList li a {
    color: #000;
    text-decoration: none !important;
    font-family: 'dmSerifDisplay', 'sans-serif';
    font-size: 1.2vw;
    display: block;
}

#linkHover {
    position: relative;
}

.navProject .navProjectUl {
    width: 0;
    height: fit-content;
    position: absolute;
    background-color: #EAAC7F;
    top: 0;
    right: 11vw;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    justify-content: center;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    -webkit-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -moz-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -o-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.navProject .navProjectUl li {
    list-style: none;
    width: fit-content;
    height: 2.5vw;
    margin: 1vw;
    line-height: 1vw;
}

.navProject:hover .navProjectUl {
    border-right: solid 2px #000;
    width: 14vw;
    -webkit-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -moz-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -o-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.navProject .navProjectUl li a {
    color: #000;
    text-decoration: none;
    font-family: 'dmSerifDisplay', 'sans-serif';
    font-size: 1.2vw;
}

.navWetLab .navWetLabUl {
    width: 0;
    height: fit-content;
    position: absolute;
    background-color: #EAAC7F;
    top: 0;
    right: 11vw;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    -webkit-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -moz-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -o-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.navWetLab .navWetLabUl li {
    list-style: none;
    width: fit-content;
    height: 2.5vw;
    line-height: 1vw;
    margin: 1vw;
}

.navWetLab:hover .navWetLabUl {
    border-right: solid 2px #000;
    width: 14vw;
    -webkit-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -moz-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -o-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.navWetLab .navWetLabUl li a {
    color: #000;
    text-decoration: none;
    font-family: 'dmSerifDisplay', 'sans-serif';
    font-size: 1.2vw;
}

.navDryLab .navDryLabUl {
    width: 0;
    height: fit-content;
    position: absolute;
    background-color: #EAAC7F;
    right: 11vw;
    bottom: -16vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    -webkit-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -moz-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -o-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.navDryLab .navDryLabUl li {
    list-style: none;
    width: fit-content;
    height: 2.5vw;
    line-height: 1vw;
    margin: 1vw;
}

.navDryLab:hover .navDryLabUl {
    border-right: solid 2px #000;
    width: 12vw;
    -webkit-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -moz-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -o-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.navDryLab .navDryLabUl li a {
    color: #000;
    text-decoration: none;
    font-family: 'dmSerifDisplay', 'sans-serif';
    font-size: 1.2vw;
}

.navHP .navHPUl {
    width: 0;
    height: fit-content;
    position: absolute;
    right: 11vw;
    bottom: 0vh;
    background-color: #EAAC7F;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    -webkit-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -moz-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -o-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    overflow-x: hidden;
}

.navHP .navHPUl li {
    list-style: none;
    width: fit-content;
    height: 2.5vw;
    line-height: 1vw;
    margin: 1vw;
}

.navHP:hover .navHPUl {
    border-right: solid 2px #000;
    width: 14vw;
    -webkit-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -moz-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -o-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.navHP .navHPUl li a {
    color: #000;
    text-decoration: none;
    font-family: 'dmSerifDisplay', 'sans-serif';
    font-size: 1.2vw;
}

.navTeam .navTeamUl {
    width: 0vw;
    height: fit-content;
    position: absolute;
    right: 11vw;
    bottom: 1vw;
    background-color: #EAAC7F;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    -webkit-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -moz-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -o-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    overflow-x: hidden;
}

.navTeam .navTeamUl li {
    list-style: none;
    width: fit-content;
    height: 2.5vw;
    line-height: 1vw;
    margin: 1vw;
}

.navTeam:hover .navTeamUl {
    border-right: solid 2px #000;
    width: 10vw;
    -webkit-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -moz-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -o-transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: width .5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.navTeam .navTeamUl li a {
    color: #000;
    text-decoration: none;
    font-family: 'dmSerifDisplay', 'sans-serif';
    font-size: 1.2vw;
}