#navBar {
    width: 100%;
    height: 8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}
#logoWrapper {
    width: 102px;
    height: 95px;
    display: flex;
    padding: 1%;
}
#logo {
    width: 86px;
    height: 95px;
}
.menuBarContainer {
    display: block;
    cursor: pointer;
    float: right;
    margin: 44.5px;
    padding: 10px;
    background-color: #EAAC7F;
    border-radius: 100%;
}
.menuBarIcon1, .menuBarIcon2, .menuBarIcon3 {
    width: 35px;
    height: 5px;
    background-color: #000;
    margin: 6px;
    border-radius: 25px;
    transition: 0.4s;
}
.transit .menuBarIcon1 {
    transform: translate(0px, 11px) rotate(45deg);
}
.transit .menuBarIcon2 {
    opacity: 0;
    transition: opacity 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.transit .menuBarIcon3 {
    transform: translate(0px, -11px) rotate(-45deg);
}
nav {
    display: flex;
    z-index: 1000;
}
nav ol {
    float: right;
    background-color: #EAAC7F;
    top: 0;
    right: 0;
    width: 0;
    height: 100vh;
    position: absolute;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    margin: 0;
}
nav ol li {
    margin: 0;
    top: 25vh;
    left: 70px;
    font-size: 27pt;
    list-style: unset;
    position: relative;
}
nav ol li a {
    display: none;
    text-decoration: none;
    color: rgb(29, 29, 31);
    font-family: 'averiaSerifLibre';
    font-size: 27pt;
    line-height: normal;
    padding: 10px 0px;
}
.menuBar.dropDown ol {
    width: 250px;
    opacity: 1;
    transform: translateX(0);
}
.menuBar.dropDown ol li a {
    display: flex;
    text-align: left;
    position: relative;
}