* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 239, 160, .8);
}

.HP {
    width: 100%;
    height: 100%;
    background-image: url("https://2021.igem.org/wiki/images/3/36/T--KCIS_NewTaipei--humanPracticeBG.jpg");
    background-repeat: no-repeat;
    background-size: 2000px 100vh;
    background-position: 40% 0%;
    position: absolute;
}

.HP .wordContainer {
    font-family: 'dmSerifDisplay', 'sans-serif';
    font-size: 10vw;
    color: #FFF;
    position: absolute;
    padding: 40vh 5.6vw;
    white-space: nowrap;
}

.HP .wordContainer em {
    position: absolute;
    color: #000;
    font-style: normal;
    left: 4.5vw;
    z-index: -1;
}

.DP {
    width: 100%;
    height: 100vh;
    background-image: url("https://2021.igem.org/wiki/images/4/42/T--KCIS_NewTaipei--placeHolder.png");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    position: absolute;
}

.wordContainer {
    position: absolute;
    font-family: 'dmSerifDisplay', 'sans-serif';
    font-size: 10vw;
    color: #FFF;
    padding: 40vh 17.4vw;
    white-space: nowrap;
    z-index: 0;
}

.wordContainer em {
    position: absolute;
    font-style: normal;
    color: #000;
    left: 16.5vw;
    z-index: -1;
}

.scrollBar {
    position: fixed;
    top: 25%;
    left: 2%;
}

.progressContainer {
    width: 1vw;
    height: 40vh;
    background: #C4C4C4;
}

.progressBar {
    
}

.mainContainer {
    width: 55vw;
    height: auto;
    top: 110vh;
    position: absolute;
    right: 10vw;
    background-color: rgba(196, 196, 196, .4);
}

.PDTitle {
    font-family: 'dmSerifDisplay', 'sans-serif';
    font-size: 5vw;
    font-weight: 600;
    padding: 0px 3vw;
    white-space: nowrap;
}

.ovalBG {
    padding: 2vh 2vw;
}

.ovalBackground {
    font-family: 'dmSerifDisplay', 'sans-serif';
    font-size: 3.5vw;
    font-weight: 600;
    position: absolute;
    padding: 2.5vh 5vw;
}

.descriptionTitle {
    font-family: 'dmSerifDisplay', 'sans-serif';
    font-size: 2.5vw;
    font-weight: 600;
    padding: 4vh 3vw;
    white-space: nowrap;
}

.DPContent {
    font-family: 'playfairDisplay', 'sans-serif';
    font-size: 1.5vw;
    padding: 0vh 5vw;
}

.descriptionOV {
    position: relative;
    margin-top: 10vh;
    left: 5.5vw;
    box-shadow: 1vw 1vw #C4C4C4;
}

.DPFig1 {
    width: calc(100% - 18vw);
    height: 100%;
    margin: 4vh 9vw;
    position: relative;
    background-color: rgba(245, 141, 141, .26);
    text-align: center;
    font-family: 'playfairDisplay', 'sans-serif';
    font-size: 1.4vw;
}

.VDMap {
    position: relative;
    margin-top: 10vh;
    left: 5.5vw;
    box-shadow: 1vw 1vw #C4C4C4;
}

.DPFig2 {
    width: calc(100% - 16vw);
    height: 100%;
    margin: 4vh 8vw;
    background-color: rgba(245, 141, 141, .26);
    font-family: 'playfairDisplay', 'sans-serif';
    font-size: 1.4vw;
}

.LBGOTXT {
    font-family: 'dmSerifDisplay', 'sans-serif';
    font-weight: 600;
    font-size: 3.5vw;
    position: absolute;
    padding: 11vh 3.4vw;
    white-space: nowrap;
}

.LBGO {
    padding: 10vh 0.5vw;
}

.SBGOTXT {
    font-family: 'dmSerifDisplay', 'sans-serif';
    font-weight: 600;
    font-size: 3.5vw;
    position: absolute;
    padding: 5vh 6vw;
}

.SBGO {
    padding: 4vh 1vw;
}

.BPPC {
    margin-top: 5vh;
    position: relative;
    left: 5.5vw;
    box-shadow: 1vw 1vw #C4C4C4;
}

.DPFig3 {
    width: calc(100% - 16vw);
    height: 100%;
    background-color: rgba(245, 141, 141, .26);
    margin: 4vh 8vw;
}